@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Soft Tehnica</h1>
    <p class="lead">Welcome to Soft Tehnica management tool for restaurants.</p>
    <p>The operators section is currently under development. If you don't have a management account you cannot use this tool.</p>
</div>
